@page "/personas/crear"

<h3>Crear Persona</h3>

<FormularioPersonas OnValidSubmit="Crear" Persona="Persona"></FormularioPersonas>

@code {
    private Persona Persona = new Persona();

    private void Crear() {
        Console.WriteLine("Crear persona");
    }
}
