@typeparam Titem

@if (Listado == null)
{
    <text>Cargando...</text>
    @if (Cargando == null)
    {
        <span style="color:red;">ChildContent es nulo</span>
    }
    else
    {
        @Cargando
    }

}
else if (Listado.Count == 0)
{
    @if (NoHayRegistros == null)
    {
        <span style="color:red;">No hay registros para mostrar</span>
    }
    else
    {
        @NoHayRegistros
    }
}
else {
    foreach (var elemento in Listado) { 
        @HayRegistros(elemento) 
    }
}

@code {
    [Parameter] public RenderFragment Cargando { get; set; } //Acepta cualquier tipo de etiqueta, hasta imagenes
    [Parameter] public RenderFragment NoHayRegistros { get; set; }
    [Parameter] public RenderFragment<Titem> HayRegistros { get;set;}
    [Parameter] public List<Titem> Listado { get; set; }
}
