@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        <CascadingValue Value="@appState">
            @Body
        </CascadingValue>
    </div>
</div>

@code{
    AppState appState = new AppState();
    public class AppState
    {
        //esta variable se va a poder acceder desde cualquier hijo del componente que se cargue en el CascadingValue
        public string Color { get; set; } = "red";
        public string Size { get; set; } = "12px";
    }

}
